<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
</head>
<body>
    <h1>Details</h1>
    {{ todo.user }}
    <hr>
    <form action="{% url 'todoapp:details' todo.pk %}" method="post">
        {% csrf_token  %}
        <label for="title">Title</label>
        <br />
        <input type="text" name="title" id="title" value="{{ todo.title  }}">
        <br />
        <label for="description">Description</label>
        <br />
        <textarea name="description" id="description">{{ todo.description }}</textarea>
        <br />
        <label for="status">Status</label>
        <input type="checkbox" name="status" id="status" {% if todo.status %}checked{% endif %}>
        <br />
        <button>Submit</button>
    </form>
</body>
</html>