<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Groups</title>
</head>
<body>
    <h1>Groups</h1>
    <h2>User: {{ user }}</h2>
    <hr>
    <h2>Groups you are a member of:</h2>
    {% for group in user_groups  %}
        {% if not group.pk == 1 %}
            <p>
                <a href="{% url 'stonebookapp:leave_group' pk=group.pk %}">Leave Group</a>
                - {{ group.name }}
            </p>
        {% endif  %}
    {% endfor %}
    <hr>
    <h2>Groups you are not a member of:</h2>
    {% for group in not_user_groups %}
        <p><a href="{% url 'stonebookapp:join_group' pk=group.pk %}">Join Group</a> - {{ group.name }}</p>
    {% endfor %}
    <hr>
    <form action="{% url 'stonebookapp:groups' %}" method="POST">
        {% csrf_token %}
        <p><label for="name">Name</label></p>
        <p><input type="text" id="name" name="name"></p>
        <p><label for="description">Description</label></p>
        <p><input type="textarea" id="description" name="description"></p>
        <p><input type="submit" value="OK"></p>
    </form>
</body>
</html>