<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todoapp</title>
</head>
<body>
    <h1>Todo app!</h1>
    <hr>
    <ul>
        {% for todo in todos  %}
            <li>
                <a href="{% url 'todoapp:details' todo.pk  %}">
                    {{ todo.title }}
                </a>
            </li>
        {% endfor  %}
    </ul>
    <hr>
    <form action="." method="post">
        {% csrf_token  %}
        <label for="title">Title</label>
        <br />
        <input type="text" name="title" id="title">
        <br />
        <label for="description">Description</label>
        <br />
        <textarea name="description" id="description">{{ todo.description }}</textarea>
        <br />
        <button>Submit</button>
    </form>
</body>
</html>